<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} — {{ site.title }}</title>
</head>
<body>
  <article class="post-modal">
    <iframe
      src="https://www.youtube.com/embed/{{ page.video }}"
      title="{{ page.title }}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>

    {{ content }}
    <br>
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%B %-d, %Y" }}
    </time>
  </article>
</body>
</html>
